/* Basic styles for the test-pages of @Prisguiden/react-carousel */

html {
    font-size: 62.5%;
}

body {
    background-color: #131e20;
    color: black;
    font-size: 16px;
    line-height: normal;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: block;
    max-width: 1000px;
    margin: 0 auto 30px;
    color: white;
}

article {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
}

a {
    color: rgba(206, 160, 244, 1);
}

.carousel__slide {
    //border: thin solid #dddddd;
}

.carousel__slide--current {
    font-size: 1.2em;
    font-weight: 700;
    border-color: black;
}

.test-carousel {
    background-color: white;
    border: thin solid rgba(206, 160, 244, 1);
    padding: 30px;
}

.test-carousel__settings {
    display: flex;
    flex-direction: row;
}

.test-carousel__actions {
    border: thin solid red;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.test-carousel__carousel {
    margin: 15px auto;
    width: 100%;
}

.test-carousel__carousel .main {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.test-carousel__carousel .main .carousel__slide {
    width: 100%;
    height: 100%;
}

.test-carousel__actions button {
    font-size: 16px;
}

.test-carousel__slide {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}
